@import '../../../../../themes/variables';

.dashboard-module.messages {
  mat-card-content {
    padding: 0px;
    margin: 0px -16px;
    height: 60vh;
    overflow: auto;
    .data-loader-container {
      padding: 16vh;
      mat-spinner {
        margin: auto;
      }
    }
    .messages-data {
      .message {
        padding: 16px 16px;
        .message-author-pic {
          width: 80px;
          img {
            width: 50px;
            max-width: 100%;
            border-radius: 100%;
          }
        }
        .message-content {
          width: calc(100% - 80px);
          .message-title-container {
            margin-bottom: 16px;
            .message-title {
              font-size: 15px;
              font-weight: 500;
            }
            .message-author {
              display: block;
              margin-top: 4px;
              font-size: 12px;
              color: $grey_medium;
            }
          }
          .message-text-container {
            .message-text {
              font-size: 13px;
              color: $grey_medium;
              height: 30px;
              display: block;
              overflow: hidden;
            }
          }

        }
      }
      .message:hover {
        cursor: pointer;
        background: rgba(0,0,0,0.06);
      }
      .message:not(.last) {
        border-bottom: 1px solid rgba(0,0,0,0.06);
      }
    }
  }
  mat-card-actions {
    text-align: right;
    button.mat-button {
      border-radius: 40px !important;
      box-shadow: none !important;;
      ::ng-deep .mat-button-ripple {
        border-radius: 40px !important;;
      }
    }
  }
}
