<!-- TODO Need to finish layout -->
<mat-toolbar class="money-transfer-toolbar">
  <h3 class="mat-subheading-2">Money transfer</h3>
</mat-toolbar>
<mat-horizontal-stepper [linear]="true" #stepper class="money-transfer-content">
  <mat-step [stepControl]="transferForm">
    <ng-template matStepLabel>Information</ng-template>
    <form [formGroup]="transferForm" (ngSubmit)="onSubmit()" fxLayout="column">
      <div class="money-transfer-content information" fxFlex="100" fxLayout="row">
        <div fxFlex="50" class="money-transfer-fields-column" fxLayout="column">
          <div fxFlex="100">
            <mat-form-field fxFlex="100">
              <mat-select [id]="'fromAccount'"
                          placeholder="From Account"
                          formControlName="fromAccount">
                <mat-option *ngFor="let account of accounts"
                            [value]="account">{{account}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="fromAccount.invalid && fromAccount.errors">Account is required</mat-error>
            </mat-form-field>
          </div>
          <div fxFlex="100">
            <mat-form-field fxFlex="100">
              <mat-select [id]="'fromAccount'"
                          placeholder="Transfer template"
                          formControlName="template"
                          (selectionChange)="templateChanged(transferForm.get('template').value)">
                <mat-option *ngFor="let template of templates"
                            [value]="template">{{template.title}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxFlex="100">
            <mat-form-field fxFlex="100">
              <input matInput type="text" placeholder="Name And Surname" formControlName="nameAndSurname">
              <mat-error *ngIf="name.invalid && name.errors">Name is required</mat-error>
            </mat-form-field>
          </div>
          <div fxFlex="100">
            <mat-form-field fxFlex="100">
              <input matInput type="text" placeholder="Receiver address" formControlName="receiverAddress">
              <mat-error *ngIf="receiverAddress.invalid && receiverAddress.errors">Receiver address is required</mat-error>
            </mat-form-field>
          </div>
          <div fxFlex="100">
            <mat-form-field fxFlex="100">
              <input matInput type="text" placeholder="Address C. D." formControlName="addressCd">
              <mat-error *ngIf="addressCd.invalid && addressCd.errors">Address is required</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div fxFlex="50" class="money-transfer-fields-column" fxLayout="column">
          <div fxFlex="100">
            <mat-form-field fxFlex="100">
              <input matInput type="text" placeholder="Receiver account" formControlName="receiverAccount">
              <mat-error *ngIf="receiverAccount.invalid && receiverAccount.errors">Receiver account is required</mat-error>
            </mat-form-field>
          </div>
          <div fxFlex="100" fxLayout="row">
            <mat-form-field fxFlex="500">
              <input matInput type="number" placeholder="Amount" formControlName="amount">
              <mat-error *ngIf="amount.invalid">
                <span *ngIf="amount.errors.required">Amount is required</span>
                <span *ngIf="amount.errors.min">Min amount is 100</span>
              </mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="50">
              <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="date">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error *ngIf="date.invalid && date.errors">Date is required</mat-error>
            </mat-form-field>
          </div>
          <div fxFlex="100">
            <mat-form-field fxFlex="100">
              <input matInput type="text" placeholder="Payment title" formControlName="title">
            </mat-form-field>
          </div>
        </div>
      </div>
      <button mat-button [disabled]="!transferForm.valid" matStepperNext>Next</button>
    </form>
  </mat-step>
  <mat-step>
      <ng-template matStepLabel>Confirmation</ng-template>
        <div class="money-transfer-content confirmation" fxFlex="100" fxLayout="column">
          <div>
            <span class="label">From account</span>
            <span>{{transferForm.value.fromAccount}}</span>
          </div>
          <div>
            <span class="label">Name and surname</span>
            <span>{{transferForm.value.nameAndSurname}}</span>
          </div>
          <div>
            <span class="label">Receiver adrdess</span>
            <span>{{transferForm.value.receiverAddress}}</span>
          </div>
          <div>
            <span class="label">Address C.D.</span>
            <span>{{transferForm.value.addressCd}}</span>
          </div>
          <div>
            <span class="label">Receiver account</span>
            <span>{{transferForm.value.receiverAccount}}</span>
          </div>
          <div>
            <span class="label">Amount</span>
            <span>{{transferForm.value.amount}}</span>
          </div>
          <div>
            <span class="label">Date</span>
            <span>{{transferForm.value.date}}</span>
          </div>
        </div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Confirm payment</button>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Finish</ng-template>
    You are now done.
    <div>
      <button mat-button (click)="onClose()">Ok</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
