<!-- TODO Need to finish layout -->
<mat-toolbar class="money-transfer-toolbar">
  <h3 class="mat-subheading-2">Money transfer</h3>
</mat-toolbar>
<mat-horizontal-stepper [linear]="true" #stepper class="money-transfer-content">
  <mat-step [stepControl]="transferForm">
    <ng-template matStepLabel>Information</ng-template>
    <form [formGroup]="transferForm" (ngSubmit)="onSubmit()" fxLayout="column">
      <div class="money-transfer-content" fxFlex="100" fxLayout="row">
        <div fxFlex="50" class="money-transfer-fields-column" fxLayout="column">
          <div fxFlex="100">
            <mat-form-field fxFlex="100">
              <mat-select [id]="'fromAccount'"
                          placeholder="From Account"
                          formControlName="fromAccount">
                <mat-option *ngFor="let opt of [1,2,3]"
                            [value]="opt">{{opt}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxFlex="100">
            <mat-form-field fxFlex="100">
              <mat-select [id]="'fromAccount'"
                          placeholder="Transfer template"
                          formControlName="template"
                          (selectionChange)="templateChanged(transferForm.get('template').value)">
                <mat-option *ngFor="let opt of [{amount: 200, title: 'Template 1'}, {amount: 300, title: 'Template 2'}, {amount: 400, title: 'Template 3'}]"
                            [value]="opt">{{opt.title}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxFlex="100">
            <mat-form-field fxFlex="100">
              <input matInput type="text" placeholder="Name And Surname" formControlName="nameAndSurname">
              <mat-error *ngIf="name.errors ? name.errors.required : false">Name is required</mat-error>
            </mat-form-field>
          </div>
          <div fxFlex="100">
            <mat-form-field fxFlex="100">
              <input matInput type="text" placeholder="Receiver address" formControlName="receiverAddress">
            </mat-form-field>
          </div>
          <div fxFlex="100">
            <mat-form-field fxFlex="100">
              <input matInput type="text" placeholder="Address C. D." formControlName="addressCd">
            </mat-form-field>
          </div>
        </div>
        <div fxFlex="50" class="money-transfer-fields-column" fxLayout="column">
          <div fxFlex="100">
            <mat-form-field fxFlex="100">
              <input matInput type="text" placeholder="Receiver account" formControlName="receiverAccount">
            </mat-form-field>
          </div>
          <div fxFlex="100" fxLayout="row">
            <mat-form-field fxFlex="500">
              <input matInput type="text" placeholder="Amount" formControlName="amount">
            </mat-form-field>
            <mat-form-field fxFlex="50">
              <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="data">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div fxFlex="100">
            <mat-form-field fxFlex="100">
              <input matInput type="text" placeholder="Payment title" formControlName="title">
            </mat-form-field>
          </div>
        </div>
      </div>
      <button mat-button type="submit" [disabled]="!transferForm.valid">Confirm payment</button>
    </form>
    <button mat-button (click)="onClose()">Confirm later</button>
  </mat-step>
  <mat-step>
      <ng-template matStepLabel>Confirmation</ng-template>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Finish</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
